{% extends 'base_front.html.twig' %}
{% set currentUser = "" %}
{% block title %}Vos amis réunis au même endroit | DTC{% endblock %}
{% block meta_description %}Retrouves ici tous tes amis, envoie des demandes d'amis, recherche des utilisateurs et consulte leurs profils{% endblock %}
{% block meta_tags %}Amis, demande amis, recherche utilisateurs{% endblock %}

{% block body %}
	<link href="{{ asset('css/friends.css') }}" rel="stylesheet"/>
	<h1>Vos amis / Demandes d'amis</h1>
	<div style="display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap-reverse;">
		<section id="sectionSearchFriends" style="min-width: 420px; margin: 0 5px;">
			<section id="friends_search_section" style="background: var(--btn-primary-color); border-radius: 50px; padding: 0 20px">
				{{ form_start(formSearch) }}
				{{ form_row(formSearch.name) }}
				<button style="background: none; cursor: pointer; padding-top: 5px">
					<i class="material-icons">search</i>
				</button>
				{{ form_end(formSearch) }}
			</section>
			<div id="array_all_users_search" style="min-width: 420px; max-width: 720px; max-height: 60vh; overflow: scroll; margin-top: 20px; border-radius: 20px" class="collection">
				{% if arrUsers|length > 0 %}
					{% set currentUser = app.user %}
					{% for friend in arrUsers %}
						<div style="position: relative; border-bottom: 1px solid #e0e0e0;">
							{% if friend not in usersAcceptedOrSent  %}
								<a href="{{ path('friends_sendRequest', {'id': friend.id}) }}" class="collection-item-send-request" style="position: absolute; z-index: 1; top: 30px; right: 10px; color: black">Envoyer une demande d'ami</a>
							{% endif %}
							<a href="{{ path('user_show', {'id': friend.id}) }}" class="collection-item avatar" style="display: flex; align-items: center;">
							{# <a href="/user/{{ friend.id }}" class="collection-item avatar" style="display: flex; align-items: center;"> #}
								{% if friend.imageName == '' %}
									<span style="background: var(--btn-primary-color); color: #ddd; border-radius: 100%; position: absolute; left: 20px; padding: 10px; min-width: 40px; text-align: center;">{{friend.initials}}</span>
								{% else %}
									<img src="/images/{{friend.imageName}}" alt="image du profil {{ friend.username }}" class="circle">
								{% endif %}

								<span>{{ friend.username }}</span>
								{% if friend in intersectSearchAndUsersAccepted %}
									<div class="triangle_banner_friend">
										<span>Ami</span>
									</div>
								{% endif %}
							</a>
						</div>
					{% endfor %}

				{% elseif usersAccepted|length > 0 %}
					{% for friend in usersAccepted %}
						<div style="position: relative; border-bottom: 1px solid #e0e0e0;">
							{% if friend[1] in usersAcceptedOrSent  %}
								{{ include('friends/_delete_form_2.html.twig') }}
							{% endif %}
							<a href="{{ path('user_show', {'id': friend[1].id }) }}" class="collection-item avatar" style="display: flex; align-items: center;">
								{% if friend[1].imageName == '' %}
									<span style="background: var(--btn-primary-color); color: #ddd; border-radius: 100%; position: absolute; left: 20px; padding: 10px; min-width: 40px; text-align: center;">{{friend[1].initials}}</span>
								{% else %}
									<img src="/images/{{friend[1].imageName}}" alt="image du profil {{ friend[1].username }}" class="circle">
								{% endif %}
								<span>{{ friend[1].username }}</span>
							</a>
						</div>
					{% endfor %}

				{% else %}
					<li class="collection-item" style="display: flex; align-items: center;">
						<span>Aucun ami</span>
					</li>
				{% endif %}

			</div>
		</section>


		<section style="margin: 0 5px;">
			<h4 style="margin-top: 12px">Vos notifications</h4>
			<ul style="max-width: 420px; max-height: 60vh; overflow: scroll; border-radius: 20px" class="collection">
				{% set currentUser = app.user %}
				{% for friend in friendsRequestsOfCurrentUserStatusSent %}
					<li class="collection-item avatar" style="display: flex; align-items: center;">
						{% if friend.receiverUser.id is same as currentUser.id %}
							{% if friend.senderUser.imageName == '' %}
								<span style="background: var(--btn-primary-color); color: #ddd; border-radius: 100%; position: absolute; left: 20px; padding: 10px; min-width: 40px; text-align: center;">{{friend.senderUser.initials}}</span>
							{% else %}
								<img src="/images/{{friend.senderUser.imageName}}" alt="image du profil {{ friend.senderUser.username }}" class=" circle">
							{% endif %}
							<span>
								<a style="color: black;" href="/user/{{ friend.senderUser.id }}">{{ friend.senderUser.username }}</a>
							</span>
						{% else %}
							{% if friend.receiverUser.imageName == '' %}
								<span style="background: var(--btn-primary-color); color: #ddd; border-radius: 100%; position: absolute; left: 20px; padding: 10px; min-width: 40px; text-align: center;">{{friend.receiverUser.initials}}</span>
							{% else %}
								<img src="/images/{{friend.receiverUser.imageName}}" alt="image du profil {{ friend.receiverUser.username }}" class=" circle">
							{% endif %}
							<span>
								<a style="color: black;" href="/user/{{ friend.receiverUser.id }}">{{ friend.receiverUser.username }}</a>
							</span>
						{% endif %}
						{% if friend.status is same as('sent') and friend.receiverUser.id is not same as currentUser.id %}
							<span style="margin-left: 8px">
								- demande envoyée...</span>
						{% endif %}
						{% if friend.status is same as('sent') and friend.receiverUser.id is same as currentUser.id %}
							<span style="margin-left: 8px">
								- accepter la demande ?</span>
							<a style="color: green; margin: 5px 0 0 8px" href="{{ path('friends_accept', {'id': friend.id}) }}">
								<i class="material-icons">check</i>
							</a>
							{{ include('friends/_delete_form.html.twig') }}

						{% endif %}
						{% if friend.status is not same as('sent') %}
							<div style="position: absolute; top: 16px; right: 16px;">
								<a href="#!" style="color: green;">
									<i class="material-icons">check</i>
								</a>
								<a href="#!" style="color: red;">
									<i class="material-icons">clear</i>
								</a>
							</div>

						{% endif %}
					</li>
				{% endfor %}
				{% if friendsRequestsOfCurrentUserStatusSent|length == 0 %}
					<li class="collection-item" style="display: flex; align-items: center;">
						<span>Vous n'avez aucune notif</span>
					</li>
				{% endif %}
			</ul>
		</section>
	</div>
{% endblock %}
