{% extends 'base_front.html.twig' %}
{% set currentUser = "" %}
{% block title %}Friends index{% endblock %}

{% block body %}
    <h1>Friends index</h1>

    <h2>Vos amis / Demandes d'amis</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserName of this person</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set currentUser = app.user %}
        {% for friend in friendsRequestsOfCurrentUser %}
            <tr>
                <td>{{ friend.id }}</td>
                {% if friend.receiverUser.id is same as currentUser.id %}
                    <td><a href="/user/{{ friend.senderUser.id }}">{{ friend.senderUser.username }}</a></td>
                {% else %}
                    <td><a href="/user/{{ friend.receiverUser.id }}">{{ friend.receiverUser.username }}</a></td>
                {% endif %}
                <td>{{ friend.status }}</td>
                <td>
                    {% if friend.status is same as('accepted') %}{{ include('friends/_delete_form.html.twig') }}{% endif %}
                    {% if friend.status is same as('sent') %}<span> en attente...</span>{% endif %}
                    {% if friend.status is same as('sent') and friend.receiverUser.id is same as currentUser.id %}><a href="{{ path('friends_accept', {'id': friend.id}) }}"> Accepter la demande</a>{% endif %}
                    {% if friend.status is same as('sent') and friend.receiverUser.id is same as currentUser.id %}>{{ include('friends/_delete_form.html.twig') }}{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no friend found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('friends_new') }}">Create new</a>
{% endblock %}
