{% extends 'base_front.html.twig' %}

{% block title %}New Friends
{% endblock %}

{% block body %}
	<h1>Trouvez vous des amis</h1>

	{{ form_start(formSearch) }}
	{{ form_row(formSearch.name) }}
	<button class="btn">Rechercher</button>
	{{ form_end(formSearch) }}

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>UserName of this person</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% set currentUser = app.user %}
			{% for friend in arrUsers %}
				<tr>
					<td>{{ friend.id }}</td>
					<td>
						<a href="/user/{{ friend.id }}">{{ friend.username }}</a>
					</td>
					<td>
						{% if friend not in usersAcceptedOrSent  %}
							<a href="{{ path('friends_sendRequest', {'id': friend.id}) }}">Envoyer une demande d'ami</a>
						{% endif %}
					</td>
				</tr>
			</td>
		</tbody>
	</td>
</tr></td></tbody></tr>{% else %}<tr><td colspan="3">no friend found</td></tr>{% endfor %}</tbody></table><a href="{{ path('friends_index') }}">back to list</a>{% endblock %}
