{% extends 'base_front.html.twig' %}

{% block title %}New Friends
{% endblock %}

{% block body %}
	<h1>Create new Friends</h1>
	<h2>Liste de tous les utilisateurs du site</h2>

	{{ include('friends/_form.html.twig') }}

	{{ form_start(formSearch) }}
	{{ form_row(formSearch.name) }}
	<button class="btn">Rechercher</button>
	{{ form_end(formSearch) }}

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>UserName of this person</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% set currentUser = app.user %}
			{% for friend in allUsers %}
				<tr>
					<td>{{ friend.id }}</td>
					<td>{{ friend.username }}</td>
					<td>
						{# {% if friend.status is same as('sent') and friend.receiverUser.id is same as currentUser.id %}><a href="{{ path('friends_accept', {'id': friend.id}) }}">
														Accepter la demande</a>
												{% endif %} #}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no friend found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('friends_index') }}">back to list</a>
{% endblock %}
