{% extends 'base_front.html.twig' %}

{% block title %}Challenges index{% endblock %}

{% block body %}
    <h1>Les challenges</h1>
    <div class="row">
    {% for challenge in challenges %}
        <div class="card small col s6">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src={{ asset('images/' ~ challenge.picture) }}>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ challenge.name }}<i class="material-icons right">Voir plus</i></span>

            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ challenge.name }}<i class="material-icons right">Fermer</i></span>
                <p id="date">Créer le : {{ challenge.creationDate ? challenge.creationDate|date('d-m-Y') : '' }} </p>
                <p>Description : {{ challenge.description }}</p>
                {% for challenge in challenge.users %}
                    <p>Par : {{ challenge.username }} </p>
                {% endfor %}
                <p> Deadline : {{ challenge.deadline ? challenge.deadline|date('d-m-Y') : ''  }}</p>
            </div>
        </div>

    {% else %}
        <h1>Pas de challenges disponible</h1>
    {% endfor %}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Creation_date</th>
                <th>Deadline</th>
                <th>Qr_code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for challenge in challenges %}
            <tr>
                <td>{{ challenge.id }}</td>
                <td>{{ challenge.name }}</td>
                <td>{{ challenge.creationDate ? challenge.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ challenge.deadline ? challenge.deadline|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ challenge.qrCode }}</td>
                <td>
                    <a href="{{ path('challenges_show', {'id': challenge.id}) }}">show</a>
                    <a href="{{ path('challenges_edit', {'id': challenge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="padding: 30px">
        <a class="btn btn-lg" href="{{ path('challenges_new') }}">Create new</a>
    </div>
    <style>
        #date{
            font-size: 10px;
            text-align: end;
        }
        a.btn{
            display: block;
            margin: auto;
            width: 100px;
        }
    </style>
{% endblock %}
