{% extends 'base_front.html.twig' %}
{% block title %}Tous les challenges | DTC{% endblock %}
{% set username = "" %}
{% block body %}
	<div style="display: flex; margin-top: 20px; margin-bottom: 15px; justify-content: space-between; align-items: center;">
		<h1 style="margin: 0;">Les challenges</h1>
		<a class="btn btn-primary waves-effect waves-light" href="{{ path('challenges_new') }}">Créer challenge</a>
	</div>

	{{ form(form) }}
	<div class="row">
		{% for challenge in challenges %}
			<div class="one_challenge_card_global col s6">
				<div class="card">
					<div class="card-image" style="background: #ddd">
					{% if vich_uploader_asset(challenge, 'imageFile') %}
						<img src={{ vich_uploader_asset(challenge, 'imageFile') }} height="300px" style="object-fit: cover;"/>
					{% else %}
						<img src="{{ asset('images/logo/DTC.png') }}" height="300px" style="object-fit: cover;"/>
					{% endif %}
						
						<span class="card-title"
							  style="display: inline-flex; flex-wrap: wrap; align-items: center;">{{ challenge.name }}
							{% if challenge.status == true %}
								<span class="chip teal accent-3" style="margin-left: 5px; margin-bottom: 0;">
									Ouvert
								</span>
							{% else %}
								<span class="chip red darken-1" style="margin-left: 5px; margin-bottom: 0;">
									Fermé
								</span>
							{% endif %}

							{% set count = 0 %}
							{% for like in challenge.challengesUserRegisters %}
								{% set count = count + 1 %}
							{% endfor %}
							<span class="chip" style="margin-bottom: 0; white-space: nowrap;">{{ count }}
								<i style="vertical-align: sub" class="material-icons tiny">face</i>
							</span>
						</span>
						<a href="{{ path('challenges_show', {'id': challenge.id}) }}" class="btn-floating halfway-fab waves-effect waves-light red" style="display: inline-flex; justify-content: center;">
							<span style="font-size: 0.7rem; font-weight: 500;">infos</span>
						</a>
					</div>
					<div class="card-content" style="height: 120px; overflow: hidden;">
						<p>{{ challenge.description|length > 150 ? challenge.description|slice(0, 150) ~ '...' : challenge.description  }}</p>
					</div>
				</div>
			</div>

		{% else %}
			<h1>Pas de challenges disponible</h1>
		{% endfor %}
	</div>
	   <script>
        var challengeCard = document.querySelectorAll('.one_challenge_card_global');
        challengeCard.forEach(challenge => {
            window.addEventListener('resize', function() {            
                if (window.innerWidth <= 800) {
                    challenge.classList.remove('s6');
                    challenge.classList.add('s12');
                }
                else {
                    challenge.classList.remove('s12');
                    challenge.classList.add('s6');
                }
            });
        });
    </script>
{% endblock %}
