{% extends 'base_front.html.twig' %}
{% block title %}Informations de {{ challenge.name }} | DTC{% endblock %}

{% block body %}

    <h1 id='{{ challenge.id }}' style="display: flex; align-items:center; justify-content: center;">{{ challenge.name }}
        {% if challenge.status == true %}
            <span class="chip teal accent-3" style="margin: 0 0 0 5px;"> Ouvert </span>
        {% else %}
            <span class="chip red darken-1" style="margin: 0 0 0 5px;"> Fermé </span>
        {% endif %}
    </h1>

    <div class="row" style="display: flex; justify-content: center">
        <div class="col s3 " style="margin-left: 0">
            <div class="card horizontal teal accent-3" style="height: 100px;">
                {% set count = 0 %}
                {% for post in challenge.challengesUserRegisters %}
                    {% set count = count + 1 %}
                {% endfor %}
                <div style="text-align: center;width: 100%;">
                    <h3> {{ count }}<i class="material-icons small">face</i></h3>
                </div>
            </div>
        </div>
        <div class="col s3 " style="margin-left: 0">
            <div class="card horizontal cyan lighten-3" style="height: 100px;">
                {% set count = 0 %}
                {% for post in challenge.postId %}
                    {% set count = count + 1 %}
                {% endfor %}
                <div style="text-align: center;width: 100%;">

                    <h3> {{ count }} <i class="material-icons small">chat</i></h3>
                </div>
            </div>
        </div>
        <div class="col s3 " style="margin-left: 0">
            <div class="card horizontal red accent-2" style="height: 100px;">
                 {% set count = 0 %}
                 {% for liked in challenge.userLikeChallenges %}
                    {% set count = count + 1 %}
                 {% endfor %}
                    {# todo gestion des likes des challenges #}
                <div style="text-align: center;width: 100%;">
                    <h3> {{ count }}<i class="material-icons small">favorite_border</i></h3>
                </div>
            </div>
        </div>
    </div>
    
    {% if challenge.challengesUserRegisters|length > 0 %}
        <div class="card horizontal" style="max-width: 520px; margin: auto">
            <table class="centered">
                <thead>
                <tr>
                    <th>Noms des participants</th>
                    <th>Elire un gagnant</th>
                </tr>
                </thead>
                <tbody>
                {% for register in challenge.challengesUserRegisters %}
                    <tr>
                        <td>
                            <span> {{ register.userRegister.username }} </span>
                        </td>
                        {% if register.userRegister == challenge.winner %}
                            <td>
                                <a class="waves-effect waves-light btn green darken-1"
                                href="{{ path('challenges_info_winner', {'id': challenge.id,'id_user':register.userRegister.id}) }}">Gagnant</a>
                            </td>
                        {% else %}
                            <td>
                                <a class="waves-effect waves-light btn orange darken-1"
                                href="{{ path('challenges_info_winner', {'id': challenge.id,'id_user':register.userRegister.id}) }}">Gagnant?</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <a  class="waves-effect waves-light btn btn-primary " style="display: flex; width: fit-content; margin: 20px auto;" href="{{ path('challenges_show', {'id': challenge.id}) }}">Retour au challenge</a>

{% endblock %}