{% extends 'base_front.html.twig' %}

{% block title %}Challenges{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="col">{{ challenge.name }}</h1>
    </div>

    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <img  src={{ vich_uploader_asset(challenge, 'imageFile') }} width="300px"/>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{ challenge.description }}</p>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s6">
                        <p>Créer le : {{ challenge.creationDate ? challenge.creationDate|date('d-m-Y') : '' }} </p>
                        {% for challenge in challenge.users %}
                            <p>Par : {{ challenge.username }} </p>
                            {%  set username = challenge.username %}
                        {% endfor %}
                        <p> Deadline : {{ challenge.deadline ? challenge.deadline|date('d-m-Y') : ''  }}</p>
                        </div>
                        <div class="col s6">
                           <img src="{{ challenge.qrCode }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <a class="waves-effect waves-light btn blue-grey darken-2" href="{{ path('challenges_index') }}">Retour a la liste</a>
    <a class="waves-effect waves-light btn orange accent-3" href="{{ path('challenges_edit', {'id': challenge.id}) }}">Editer</a>

    {{ include('challenges/_delete_form.html.twig') }}
{% endblock %}
