{% extends 'base_front.html.twig' %}

{% block title %}Challenges{% endblock %}
{%  set username = "" %}

{% block body %}
    <div class="row">
        <h1 class="col">{{ challenge.name }}     <a class="waves-effect waves-light btn blue-grey darken-2" href="{{ path('challenges_index') }}">Retour a la liste</a>
        </h1>
    </div>

    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <img  src={{ vich_uploader_asset(challenge, 'imageFile') }} height="400px"/>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{ challenge.description }}</p>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s6">
                        <p>Créer le : {{ challenge.creationDate ? challenge.creationDate|date('d-m-Y') : '' }} </p>
                        {% for challenge in challenge.users %}
                            <p>Par : {{ challenge.username }} </p>
                            {%  set username = challenge.username %}
                        {% endfor %}
                        <p> Deadline : {{ challenge.deadline ? challenge.deadline|date('d-m-Y') : ''  }}</p>
                        </div>
                        <div class="col s6">
                           <img src="{{ challenge.qrCode }}" />
                        </div>
                    </div>
                    {% if app.user.username == username %}
                    <div class="row">
                        <div class="col s2 offset-s7">
                            <a class="waves-effect waves-light btn orange accent-3" href="{{ path('challenges_edit', {'id': challenge.id}) }}">Editer</a>
                        </div>
                        <div class="col s2">
                            {{ include('challenges/_delete_form.html.twig') }}
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col s2 offset-s7">
                            <a class="waves-effect waves-light btn orange accent-3" href="{{ path('challenges_edit', {'id': challenge.id}) }}">S'inscrire</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ include('post/_form.html.twig') }}
{#    <div class="row">#}
{#        <form class="col s12">#}
{#            <div class="row">#}
{#                <div class="input-field col s6">#}
{#                    <i class="material-icons prefix">mode_edit</i>#}
{#                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>#}
{#                    <label for="icon_prefix2">Ajouter un commentaire</label>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}

    <div class="col s12 m7">
            <div class="divider"></div>
            <div class="section">
                <h5>Commentaire 1</h5>
                <p>balbala</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>Commentaire 2</h5>
                <p>Stuff</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>Commentaire 3</h5>
                <p>Stuff</p>
            </div>
    </div>




{% endblock %}
