{% extends 'base_front.html.twig' %}

{% block title %}Challenges{% endblock %}
{%  set username = "" %}
{%  set likes = "" %}

{% block body %}
    <div class="row">
        <h1 id='{{ challenge.id }}' class="col">{{ challenge.name }}     <a class="waves-effect waves-light btn blue-grey darken-2" href="{{ path('challenges_index') }}">Retour a la liste</a>
        </h1>
    </div>

    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <img  src={{ vich_uploader_asset(challenge, 'imageFile') }} height="400px"/>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{ challenge.description }}</p>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s6">
                        <p>Créer le : {{ challenge.creationDate ? challenge.creationDate|date('d-m-Y') : '' }} </p>
                        {% for challenge in challenge.users %}
                            <p>Par : {{ challenge.username }} </p>
                            {%  set username = challenge.username %}
                        {% endfor %}
                        <p> Deadline : {{ challenge.deadline ? challenge.deadline|date('d-m-Y') : ''  }}</p>
                        </div>
                        <div class="col s6">
                           <img src="{{ challenge.qrCode }}" />
                        </div>
                    </div>
                    {% if app.user.username == username %}
                    <div class="row">
                        <div class="col s2 offset-s7">
                            <a class="waves-effect waves-light btn orange accent-3" href="{{ path('challenges_edit', {'id': challenge.id}) }}">Editer</a>
                        </div>
                        <div class="col s2">
                            {{ include('challenges/_delete_form.html.twig') }}
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col s2 offset-s7">
{#                        {% for register in challenge.challengesUserRegisters %}#}
{#                            {% if register is not empty  %}#}
{#                            {% else %}#}
{#                                <p>Bla</p>#}
{#                            {% endif %}#}
                            {% if challenge.challengesUserRegisters is defined and challenge.challengesUserRegisters is empty %}
                            <a class="waves-effect waves-light btn red accent-3 " href="{{ path('challenges_register', {'id': challenge.id}) }}">S'inscrire</a>
                            {% else %}
                                <a class="waves-effect waves-light btn orange accent-3 " href="{{ path('challenges_delete_register', {'id': challenge.id}) }}">Déjà_Inscrit</a>
                            {% endif %}
                            {#                           TODO: Reussie a afficher seuelemtn le bouton qu'il faut #}
{#                            {% if register is null %}#}
{#                                <a class="waves-effect waves-light btn red accent-3 pulse" href="{{ path('challenges_register', {'id': challenge.id}) }}">S'inscrire</a>#}
{#                            {% endif %}#}
{#                            {% if register.userRegister == app.user and register.challengeRegister == challenge %}#}
{#                                <a class="waves-effect waves-light btn orange accent-3 pulse" href="{{ path('challenges_register', {'id': challenge.id}) }}">Déjà_Inscrit</a>#}
{#                            {% elseif register.userRegister == app.user and register.challengeRegister != challenge %}#}
{#                            <a class="waves-effect waves-light btn red accent-3 pulse" href="{{ path('challenges_register', {'id': challenge.id}) }}">S'inscrire</a>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                            <a class="waves-effect waves-light btn red accent-3 " href="{{ path('challenges_register', {'id': challenge.id}) }}">S'inscrire</a>#}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ include('post/_form.html.twig') }}

{% for post in posts %}
    <div class="col s12 m7">
        <div class="divider"></div>
        {% for user in post.userId %}
            {{ user.username }}
            {% endfor %}
            <div class="section">
                <h5 id="{{ post.id }}">{{ post.name }}</h5>
                <span>Like :
                    {% set count = 0 %}
                    {% for like in post.userLikePosts %}
                            {% set count = count + 1 %}
                    {% endfor %}
                    <span class="id-{{ post.id }}-count">{{ count }}</span>
                        {% if post.userLikePosts is defined and post.userLikePosts is empty %}
                            <i data-url="{{ path('like_post', {'id': post.id }) }}" class=" like liked red-text text-darken-3 far fa-heart id-{{ post.id }}"></i>
                        {% else %}
                            <i data-url="{{ path('like_post', {'id': post.id }) }}" class=" unlike liked red-text text-darken-3 fas fa-heart id-{{ post.id }}"></i>
                        {% endif %}
                </span>
                <p>{{ post.content }} </p>
            </div>
        {% if(post.imageName) %}
        <div>
            <img height="200px" src={{ vich_uploader_asset(post, 'imageFile') }} />
        </div>
        {% endif %}
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header"> <i class="material-icons prefix">mode_edit</i>Commentaires </div>
                <div class="collapsible-body">
                <a class="waves-effect waves-light btn modal-trigger modal_href" data-id="{{post.id}}" href="#modal1">Répondre</a>
                    {% for remark in post.remark %}
                        <div>
                            <h6>{{ remark.contentRemark }}</h6>
                            {% for user in remark.userId %}
                                <span> By {{ user.username }}</span>
                            {% endfor %}
                            <span>Like :
                                {% set count = 0 %}
                                {% for like in remark.userLikeRemarks %}
                                    {% set count = count + 1 %}
                                {% endfor %}
                                <span class="id-{{ remark.id }}-count">{{ count }}</span>
                                {% if remark.userLikeRemarks is defined and remark.userLikeRemarks is empty %}
                                    <i data-url="{{ path('like_remark', {'id': remark.id }) }}" class=" like liked red-text text-darken-3 far fa-heart id-{{ remark.id }}"></i>
                                {% else %}
                                    <i data-url="{{ path('like_remark', {'id': remark.id }) }}" class=" unlike liked red-text text-darken-3 fas fa-heart id-{{ remark.id }}"></i>
                                {% endif %}
                            </span>
                        </div>
                        <div class="divider"></div>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </div>

{% endfor %}


<div id="modal1" class="modal">
    <div class="modal-content">
     {{include('remark/_form.html.twig')}}
  </div>


{% endblock %}
