{% extends 'base_back.html.twig' %}

{% block title %}Liste des lieux{% endblock %}

{% block body %}
    <h1>Liste des lieux</h1>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Ville</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>{{ place.name }}</td>
                <td>{{ place.city }}</td>
                <td>
                    <a href="{{ path('admin_place_show', {'id': place.id}) }}">Voir</a>
                    <a href="{{ path('admin_place_edit', {'id': place.id}) }}">Editer</a>
                    <a href="{{ path('admin_place_remove', {'id': place.id, 'token': csrf_token('remove_place')}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_place_create') }}">Créer un lieu</a>
{% endblock %}
