<div class="row">
	{{ form_start(form) }}
	<div class="row">
		<div class="row">
			<div class="input-field col s12">
				{{ form_widget(form.name) }}
				<label for="challenges_deadline">Name</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="inline">
				<label>Tags</label>
				{% for user in form.users %}
					{% if user == actualUser %}
						<p></p>
					{% else %}
						<p>
							<label>
								{{ form_widget(user, {'attr': {'class': 'checkbox-user'}}) }}
								<span>{{ form_label(user) }}</span>
							</label>
						</p>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	{{ form_widget(form) }}
	<button class="btn green accent-3">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
