{% extends 'base_front.html.twig' %}

{% block title %}Group
{% endblock %}

{% block body %}
	<h1>Group</h1>	<a href="{{ path('group_index') }}" class="right"><button class="btn">Back</button></a>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ group.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ group.name }}</td>
			</tr>
			<tr>
				<th>Number_user</th>
				<td>{{ group.numberUser }}
				</td>
			</tr>
			<tr>
				<th>Users</th>
				<td>
					{% for usr in group.users %}
						<span class="chip">{{ usr.username }}</span>
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>

	<div style="height: 40px"></div>

	<a href="{{ path('group_edit', {'id': group.id}) }}" class="right"><button class="btn">Edit</button></a>

	{{ include('group/_delete_form.html.twig') }}

	<div style="height: 100px"></div>
{% endblock %}
