{% extends 'base_front.html.twig' %}

{% block title %}Group
{% endblock %}

{% block body %}
	<h1>Group <a href="{{ path('group_index') }}" class="right"><button class="btn">Retour</button></a></h1>

	<div class="row">
		<div class="col s4  flow-text">
			<h3>Membres</h3>
			<ul>
			{% for usr in group.users %}
				<li><span class="chip">{{ usr.username }}</span></li>
			{% endfor %}
			</ul>
		</div>
		<div class="col s7 flow-text">
			<h3>Challenges</h3>
			<ul>
				{% for chal in group_chal %}
					<a href="{{ path('challenges_show', {'id': chal.id}) }}">
						<li>
							<span class="chip">{{ chal.name }}</span>
						</li>
					</a>
				{% else %}
					Vous n'avez pas encore de challenges pour ce groupe
				{% endfor %}
			</ul>
			<a class="waves-effect waves-light btn green accent-3" href="{{ path('chalGrp_new', {'id': group.id}) }}">Créer challenge</a>

		</div>
	</div>

	<div style="height: 40px"></div>

	<a href="{{ path('group_edit', {'id': group.id}) }}"><button class="btn">Edit</button></a>


	<div style="height: 100px"></div>
{% endblock %}
