<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/af8bf20642.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{{ asset('css/text.css') }}">
    <link rel="stylesheet" href="{{ asset('css/btn.css') }}">
    <link rel="stylesheet" href="{{ asset('css/card.css') }}">
    <link rel="stylesheet" href="{{ asset('css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/container_back.css') }}">


    {# Run `composer require symfony/webpack-encore-bundle`and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}
    {% block javascripts %}
        {#// simple example of using react when you need to do dynamic rendering#}
    {% endblock %}
    <style>
        html {
            box-sizing: border-box;
        }

        *, *:before, *:after {
            box-sizing: inherit;
            border: 0;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body class="has-fixed-sidenav">
<header>
    <div class="navbar-fixed">
        <nav class="navbar white">
            <div class="nav-wrapper">
                <span href="#!" class="brand-logo grey-text text-darken-4 center">{{ title }}</span>
                <ul id="nav-mobile" class="right">
                    <li class="black hide-on-med-and-down"><a href="{{ path('front_default') }}">Retour au site </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <ul id="sidenav-left" class="sidenav sidenav-fixed teal blue-grey darken-2" style="transform:translateX(0px)">
        <li><a href="" class="logo-container">Admin<i class="material-icons left">spa</i></a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion ">
                <li class="waves-effects">
                <a class="collapsible-header" tabindex="0">Users<i class="material-icons chevron">chevron_left</i></a>
                <div class="collapsible-body teal blue-grey darken-2">
                    <ul>
                        <li><a  class="waves-effect" href="{{ path('admin_user_index') }}">Utilisateur</a></li>
                        <li><a class="waves-effect" href="#!">Amis</a></li>
                        <li><a  class="waves-effect"href="#!">Groupes</a></li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a class="collapsible-header" tabindex="0">Challenges<i class="material-icons chevron">chevron_left</i></a>
                <div class="collapsible-body teal blue-grey darken-2">
                    <ul>
                        <li><a  class="waves-effect" href="{{ path('admin_challenges_index') }}">Challenges</a></li>
                        <li><a  class="waves-effect" href="{{ path('admin_signalement_index') }}">Signalement</a></li>
                        <li><a  class="waves-effect" href="{{ path('admin_post_index') }}">Posts</a></li>
                        <li><a  class="waves-effect" href="{{ path('admin_remark_index')}}">Commentaires</a></li>
                        <li><a  class="waves-effect" href="{{ path('admin_category_index') }}">Catégories</a></li>
                        <li><a  class="waves-effect" href="{{ path('admin_tags_index') }}">Tags</a></li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a class="collapsible-header" tabindex="0">Paiements<i class="material-icons chevron">chevron_left</i></a>
                <div class="collapsible-body teal blue-grey darken-2">
                    <ul>
                        <li><a  class="waves-effect" href="#!">Paiements</a></li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a class="collapsible-header" tabindex="0">Statistique<i class="material-icons chevron">chevron_left</i></a>
                <div class="collapsible-body teal blue-grey darken-2">
                    <ul>
                        <li><a  class="waves-effect" href="{{ path('admin_statistical_index') }}">Stats1</a></li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a class="collapsible-header" tabindex="0">Contact<i class="material-icons chevron">chevron_left</i></a>
                <div class="collapsible-body teal blue-grey darken-2">
                    <ul>
                        <li><a class="waves-effect" href="#!">Réponse</a></li>
                    </ul>
                </div>
            </li>
            </ul>

        </li>
    </ul>
</header>

<main>
    {% block body %}{% endblock %}
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"
        integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</script>
<script>
{% for label, messages in app.flashes() %}
    {% for message in messages %}
        M.toast({html: '{{ message }}', classes: '{{ label }}'})
         {{ label }}
    {% endfor %}
{% endfor %}
</script>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>
<script src="{{ asset('js/collapse.js') }}"></script>
<script src="{{ asset('js/sidebar.js') }}"></script>
<script src="{{ asset('js/datatable.js') }}"></script>
<script src="{{ asset('js/modal.js') }}"></script>
<script src="{{ asset('js/select.js') }}"></script>
<script src="{{ asset('js/remarkSelect.js') }}"></script>
<script src="{{ asset('js/chips.js') }}"></script>
<script src="{{ asset('js/statistical.js') }}"></script>
</body>
</html>
