<div class="row">
    {{ form_start(formPost) }}
    <div class="row">
        {{ form_label(formPost.name,'Nom du post') }}
        {{ form_widget(formPost.name) }}
        <div class="input-field col s6">
            <i class="material-icons prefix">mode_edit</i>
            {{ form_widget(formPost.content) }}
            <label for="icon_prefix2">Contenue du post</label>
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    {{ form_widget(formPost.imageFile) }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(formPost) }}
</div>