<div class="row">
    {{ form_start(form) }}
    <div class="row">
        {{ form_label(form.name,'Nom du post') }}
        {{ form_widget(form.name) }}
        <div class="input-field col s6">
            <i class="material-icons prefix">mode_edit</i>
            {{ form_widget(form.content) }}
            <label for="icon_prefix2">Ajouter un commentaire</label>
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    {{ form_widget(form.imageFile) }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>