{% extends 'base_back.html.twig' %}

{% block title %}Tags index{% endblock %}

{% block body %}

    <div class="container">
        <a class="waves-effect waves-light btn green accent-4" href="{{ path("admin_tags_new") }}">Créer</a>
        <div class="card card_back">
            <div class="card_back_content">
                <table id="remark_view" class="datatable table row-border">
                    <thead>
                    <tr>
                        <th class="back_th">Id</th>
                        <th class="back_th">Name</th>
                        <th class="back_th">Nombre de fois utilisé</th>
                        <th class="back_th">actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td class="back_th">{{ tag.id }}</td>
                            <td class="back_th">{{ tag.name }}</td>
                            <td class="back_th">
                                {% set count = 0 %}
                                {% for use in tag.challenges %}
                                    {% set count = count + 1 %}
                                {% endfor %}
                                {{ count }}
                            </td>
                            <td class="row back_th">
                                <div class="col s4 ">
                                    <a href="{{ path('admin_tags_edit', {'id': tag.id}) }}"><i
                                                class="orange-text darken-4 material-icons small">create</i></a>
                                </div>
                                <div class="col s4">
                                    {{ include('back/tags/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
