<div class="row">
    {{ form_start(form) }}
    <div class="row">
        {{ form_label(form.username,'Nom d\'utilisateur') }}
        {{ form_widget(form.username) }}
        {{ form_widget(form.imageFile) }}
        <label for="imageFile">Image du profil</label>
    </div>
    <button class="btn btn-primary waves-effect waves-light">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</div>

<style>
    .active {
        color: var(--primary-color) !important;
    }
</style>