<div class="row">
    {{ form_start(formEdit) }}
    <div class="row">
        {{ form_label(formEdit.username,'Nom du post') }}
        {{ form_widget(formEdit.username) }}
        {{ form_label(formEdit.email,'Nom du post') }}
        {{ form_widget(formEdit.email) }}
        {{ form_widget(formEdit.imageFile) }}
    </div>
    <button class="btn btn-primary waves-effect waves-light">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(formEdit) }}
</div>

<style>
    .active {
        color: var(--primary-color) !important;
    }
</style>