{% extends 'base_front.html.twig' %}

{% block title %}Mon compte | DTC{% endblock %}
{% block body %}
	<link href="{{ asset('css/profile_card.css') }}" rel="stylesheet"/>

	<div id="profil_card_container">
		<h1 id="profil_card_name" style="position: relative">Votre profil
			{{ user.username }}
			<a href='{{ path('user_edit',{'id': user.id }) }}' style="color: black; position: absolute; top: -25px; right: -20px"><i class="material-icons edit">edit</i></a>
		</h1>
		<div id="profil_card_avatar-upload">
			<form id="profil_card_avatar-edit" enctype="multipart/form-data">
				<input type='file' data-url="{{path('user_post_pp')}}" id="imageUpload" accept=".png, .jpg, .jpeg"/>
			</form>
			<div id="profil_card_avatar-preview">
				<div id="imagePreview" style="background-image: url('/images/{{currentAvatar}}'); background: {{ (currentAvatar == '') ? 'var(--btn-primary-color)' : '' }}; display: flex; justify-content: center; align-items: center;">
					{% if currentAvatar == '' %}
						<span style="font-size: 4.8rem; color: #ddd; height: max-content " id="imagePreview">{{ userInitials }}</span>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<p>
		<span class="row">
			{% if ( numberOfFriends > 1 ) %}
				{{ numberOfFriends }}
				ami(e)s
			{% elseif ( numberOfFriends == 1 )%}
				{{ numberOfFriends }}
				ami(e)
			{% else %}
				Vous n'avez pas encore d'amis
			{% endif %}
		</span>
		<span class="row">
			{% if ( numberOfChallengesCreated > 1 ) %}
				{{ numberOfChallengesCreated }}
				challenges créés
			{% elseif ( numberOfChallengesCreated == 1 )%}
				{{ numberOfChallengesCreated }}
				challenge crée
			{% else %}
				Vous n'avez pas encore publié de challenge
			{% endif %}
		</span>
		<span class="row">
			{% if ( numberOfGroup > 1 ) %}
				vous faites partie de
				{{ numberOfGroup }}
				groupes
			{% elseif ( numberOfGroup == 1 )%}
				vous faites partie d'un groupe
			{% else %}
				Vous ne faites partie d'aucun groupe
			{% endif %}
		</span>
	</p>

{% endblock %}
